<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <httpRuntime maxRequestLength="104857600"
              executionTimeout="600"
              />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\AlexTest\PRivate\RollingRides.WebApp\RollingRides.WebApp\App_Data\RollingRides.mdf;Integrated Security=True;User Instance=True" name="DbConn"/>
  </connectionStrings>
  <appSettings>
    <add key="MediaRootDir" value="../../media/"/>
    <add key="imagesFolder" value="/media/"/>
    <add key="MediaDir" value="/media/"/>
    <add key="RollinSettingsDir" value="/settings/"/>
    <add key="MediaPath" value="/media/" />
    <add key="FromEmail" value="woodensdinc@gmail.com"/>
    <add key="SmtpServer" value=""/>
    <add key="AdvertisementDir" value="/advertisements/"/>
    <add key="CarfaxPathUrl" value="/carfaxes/"/>
  </appSettings>
</configuration>
